---
title: Stanislas Wiart | Branding | UI Design | Web Development
---

<div id="home">
  <div class="home-content">
    <%#= image_tag "logo.png", width: "200" %>
    <p>
      New website soon
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
